<div class="flex justify-center items-center min-h-screen bg-gray-50">
    <div class="w-full max-w-xs p-6 bg-white rounded-lg shadow-lg">
        <img src="../../../assets/logo.webp" alt="Instagram Logo" class="mx-auto my-auto" />
        <form [formGroup]="forgotPwdForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <input id="username" formControlName="username" type="text"
                    class="w-full p-3 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Username" />
                @if(forgotPwdForm.get('username')?.invalid && forgotPwdForm.get('username')?.touched){
                    @if(forgotPwdForm.get('username')?.hasError('required')){
                        <div class="text-red-500 text-xs mt-1">Username is required.</div>
                    }
                    @if(forgotPwdForm.get('username')?.hasError('invalidUsername')){
                        <div class="text-red-500 text-xs mt-1">
                            Please enter a valid username. 
                        </div>
                    }
                }
            </div>

            <div class="mb-4 relative">
                <input id="recoveryCode" [type]="passwordVisible ? 'text' : 'password'" formControlName="recoveryCode"
                    class="w-full p-3 mt-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Recovery Code" />
                <button type="button" class="absolute right-0 top-1/2 transform -translate-y-1/2"
                    (click)="togglePasswordVisibility()" style="background: none; border: none; cursor: pointer">
                    <i class="fa" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                </button>
                @if(forgotPwdForm.get('recoveryCode')?.invalid && forgotPwdForm.get('recoveryCode')?.touched){
                    @if(forgotPwdForm.get('recoveryCode')?.hasError('required')){
                        <div class="text-red-500 text-xs mt-1">RecoveryCode is required.</div>
                    }
                }
            </div>

            <button type="submit"
                class="w-full bg-blue-600 text-white mx-auto my-auto py-3 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
                [disabled]="forgotPwdForm.invalid">
                Validate
            </button>
        </form>

        @if(errorMessage.length>0){
            <div class="text-red-500 text-sm text-center mt-3">{{errorMessage}}</div>
        }

    </div>
</div>