<div class="min-h-screen flex justify-center items-center">
    <div
      aria-labelledby="likes-title"
      aria-modal="true"
      class="w-[320px] max-w-full bg-white rounded-xl shadow-lg border border-gray-300 flex flex-col"
      role="dialog"
    >
      <header
        class="flex justify-between items-center border-b border-gray-300 px-4 py-2"
      >
        <h2
          class="text-center text-xs font-semibold text-gray-900 flex-1"
          id="likes-title"
        >
          Viewers
        </h2>
        <button
          aria-label="Close"
          class="text-gray-600 hover:text-gray-900 focus:outline-none"
          (click)="onClose()"
        >
          <i class="fas fa-times text-base"> </i>
        </button>
      </header>
      <div
        *ngFor="let user of viewList"
        class="flex items-center space-x-4 border-b rounded-xl border-gray-400 p-5 w-full"
      >
        <!-- User Profile Image -->
        <img
          [src]="user.viewer.profilePic ? user.viewer.profilePic : defaultImage"
          alt="User profile"
          class="w-12 h-12 rounded-full object-cover"
        />
  
        <!-- User Information -->
        <div class="flex-1">
          <h3 class="text-sm font-medium">{{ user.viewer.username }}</h3>
        </div>
  
        <!-- Follow Button -->
        @if(followingUserList.includes(user.viewer.id)) {
        <button
          (click)="onFollow(user.viewer.id)"
          [disabled]="true"
          class="px-4 py-2 bg-gray-300 text-gray-700 cursor-pointer text-sm rounded-full hover:bg-gray-400 focus:outline-none"
        >
          Following
        </button>
        } @else if(followRequestsSent.has(user.viewer.id)) {
        <button
          [disabled]="true"
          class="px-4 py-2 bg-gray-300 text-gray-700 cursor-pointer text-sm rounded-full hover:bg-gray-400 focus:outline-none"
        >
          Sent
        </button>
        } @else if(user.viewer.id !== authToken.id){
        <button
          (click)="onFollow(user.viewer.id)"
          class="px-4 py-2 bg-blue-500 text-white cursor-pointer text-sm rounded-full hover:bg-blue-600 focus:outline-none"
        >
          Follow
        </button>
        }
      </div>
    </div>
  </div>
  